{% extends "base_generic.html" %}
{% load static %}


{% block content %}
<form id="maining" method="post">
    <h4>Registro de salida</h4>
    {% csrf_token %}
    <div class="label-grupos">
    {{ form.Nombre}}
    </div>
    <div class="label-grupos">
    {{ form.Apellido}}
    </div>
    <div class="label-grupos">
    {{ form.telefono}}
    </div>
    <div class="label-grupos">
    {{ form.pais}}
    </div>  
    <div class="label-grupos">
    {{ form.lugar}}
     </div>        
    <div class="label-grupos">
    {{ form.Opinion}}
    </div>

    

    <input type="submit" class="btn">Guardar</button>

</form>



<h1>Lista De Turistas registrados</h1>

{% if turist_list %}
<ul>

  {% for turist in turist_list %}
  <li>
    <a href="{{ Turist.get_absolute_url }}">{{ turist.title }}</a>
  </li>
  {% endfor %}

</ul>

{% else %}
  <p>No Hay turistas registrados</p>
{% endif %} 



{% endblock %}