{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<form id="maining" method="post">
        <h4>Suba la Imagen del lugar que propone como nueva ruta</h4>
        <p>(este sera visto por todos los usuarios)</p>
        {% csrf_token %}
        <div class="label-grupos">
        {{ form.link}}
        </div>
        <div class="label-grupos">
        {{ form.Titulos}}
        </div>
        <div class="label-grupos">
        {{ form.Descripcion}}
        </div>
        <br>
        <input type="submit" class="btn"></button>

        <p>Si desea ver la galeria de fotos junto a los nombre de los lugares</p>
        <p>(favor de hacer click abajo)</p>
</form>
    <br>   <br>   <br>
    <div id="botonregreso">
        <a href="{% url 'imagens' %}">Galeria de propuesta</a>
    </div>
    <br>   <br>   <br>
{% endblock %}