<!DOCTYPE html>
{% load static %}
<html lang="es">
	<head>
		  <title>Inicio Mountain Break</title>
		  <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		  <link rel="stylesheet" href="{% static 'css/style.css' %}">
		  <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
          <link rel="stylesheet" href="{% static 'css/boostrapdesign.css' %}">
          <link rel="stylesheet" href="{% static 'css/galeria.css' %}">
		  <link rel="icon" href="{% static 'imagenes/logo.png' %}">
	</head>
	<body>
		<header>
			<h1> Mountain Break</h1>
		</header>
		<nav>
		<ul>
		  <li><a href="{% url 'post_list' %}">Inicio</a></li>
		  <li><a href="{% url 'formulario' %}">Registro</a></li>
		  <li><a href="{% url 'galeria' %}">Galeria</a></li>
		  <li><a href="{% url 'contacto' %}">Contacto</a></li>
		</ul>
	  </nav>
      <div class="contenedorgaleria">
            <h6>Galeria</h6>
            <div class="fotos">
              <img src="{% static 'imagenes/galeria13.jpg' %}" alt="bosque">
              <img src="{% static 'imagenes/galeria14.jpg' %}" alt="playa">
            </div>
            <div class="fotos">
                    <img src="{% static 'imagenes/galeria9.jpg' %}" alt="guanaco">
                    <img src="{% static 'imagenes/galeria11.jpg' %}" alt="otoño">
            </div>
            <div class="fotos">
                <img src="{% static 'imagenes/galeria7.jpg' %}" alt="condor">
                <img src="{% static 'imagenes/galeria8.jpeg' %}" alt="pareja de condor">
            </div>
      </div>
	  <footer>
		<p>@Derechos Reservados para Mountain Break</p>
	</footer>
</body>
</html>