{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<div id="listaturista">
  <h1>Lista De Turistas registrados</h1>

  {% if turist_list %}
  <ul>
    <h2>Turistas</h2>
    {% for turist in turist_list %}

    <li>

      <a href="{{ turist.get_absolute_url }}">{{ turist.Nombre }}</a>
      <a href="{{ turist.get_absolute_url }}">{{ turist.Apellido }}</a>
      <a href="{{ turist.get_absolute_url }}">{{ turist.telefono }}</a>
      <a href="{{ turist.get_absolute_url }}">{{ turist.pais }}</a>
      <a href="{{ turist.get_absolute_url }}">{{ turist.lugar }}</a>
      <a href="{{ turist.get_absolute_url }}">{{ turist.Opinion }}</a>
      <div id="botoneslista">
          <a href="{% url 'index' %}">Actualizar</a>
     <a href="/delete/{{ turist.id }}"
     onClick="return confirm(' ¿desea elimianar a {{turist.Nombre }}?');">Eliminar</a>
        </div>
    </li>
    {% endfor %}

  </ul>



  {% else %}


  <div id="listaturista">
    <h1>No Hay turistas registrados, favor de registrar turistas</h1>
  </ul>
  <h2>Error 404</h2>
  <div id="botonregreso">
      <a href="{% url 'FormularioTurist' %}">Registro</a>
  </div>
  </ul>
  </div>

  <br>
  <br>
  {% endif %} 
  <br>
  <br>

</div>
{% endblock %}