#listaturista{
    color:white;
    margin: 2%;
}

#listaturista h1{
    color:white;
    text-align: center;
}

#listaturista h2{
    color:rgb(0, 0, 0);
    text-align: center;
}


#listaturista ul{
background: rgba(255, 255, 255, 0.603);
border-radius: 2%;
}

#listaturista li{
margin: 2%;
border-right: 1px solid black;
}

#listaturista li:hover{
background: orange;
border-radius: 3%;
}

    

#listaturista li a{
color: black;
}

#listaturista li a:hover{
color: rgb(255, 255, 255);
background: rgb(0, 0, 0);
}

#botoneslista a{
margin: 2%;
background:rgb(196, 142, 27);
padding: 2%;
border-radius: 5%;
color: white;
}

#botonregreso{
 margin-left: 40%;
 margin-right: 40%;
background:rgb(88, 0, 0);
padding: 1%;
border-radius: 2%;
color: rgb(0, 0, 0);
text-align: center;
}